# --- クライアント側で利用する環境変数 ---

# Forwarderスマートコントラクトへのアクセスに必要な情報
NEXT_PUBLIC_CONTRACT_RPC_URL="http://localhost:8545"
NEXT_PUBLIC_FORWARDER_CONTRACT_ADDRESS="forwarder_contract_address_here"

# --- サーバー側のみで利用する環境変数 ---

# Next.js サーバー側で署名を行うリレイヤーの情報
RELAY_PRIVATE_KEY="relayer_private_key_here"

# Forwader呼び出し先のスマートコントラクト情報
FORWARD_CONTRACT_ADDRESS="forward_contract_address_here"

